<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>YelpClient</display-name>
  <welcome-file-list>
    <welcome-file>/Views/login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>signUp</display-name>
    <servlet-name>signUp</servlet-name>
    <servlet-class>servlets.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signUp</servlet-name>
    <url-pattern>/Views/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>login</display-name>
    <servlet-name>login</servlet-name>
    <servlet-class>servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/Views/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>categories</display-name>
    <servlet-name>categories</servlet-name>
    <servlet-class>servlets.Categories</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>categories</servlet-name>
    <url-pattern>/Views/Categories</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>reviews</display-name>
    <servlet-name>reviews</servlet-name>
    <servlet-class>servlets.Reviews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reviews</servlet-name>
    <url-pattern>/Views/AddReview</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>reviews</servlet-name>
    <url-pattern>/Views/GetReviews</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>reviews</servlet-name>
    <url-pattern>/Views/PostReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/Views/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>categories</servlet-name>
    <url-pattern>/Views/AddCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>elements</display-name>
    <servlet-name>elements</servlet-name>
    <servlet-class>servlets.Elements</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>elements</servlet-name>
    <url-pattern>/Views/AddElement</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>categories</servlet-name>
    <url-pattern>/Views/DeleteCategory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>elements</servlet-name>
    <url-pattern>/Views/DeleteElement</url-pattern>
  </servlet-mapping>
</web-app>